* {
  box-sizing:border-box;
  margin:0;padding:0;
  font-family:Ubuntu;
  outline:0;
}

.text {
  display: block;
  margin: 0  100px;
}

a { 
  text-decoration:none
}
a:visited {
  text-decoration:none
}

a:hover {
  text-decoration:none
}

a:focus {
  text-decoration:none 
}

a:active {
  text-decoration:none
}
.app {
  background-color:#faf8f5;
  min-height:800px
}

.logo {
  width:100%;
  height:60px;
  line-height:60px;
  background-color:#fff;
  box-shadow:0 1.5px 10px 0 rgba(1,0,42,.05);
  text-align:center
}

.logo span {
  color:#ff6a30
}

.title {
  width:100%;
  margin-top:30px;
  font-weight:500;
  font-size:20px;
  color:#262626;
  text-align:center
}
.main { 
  display:flex;
  margin:0 10%;
  padding-top:40px
}

.data .choose-expenses,.data .choose-income-label,.data .count-budget,.data .optionalexpenses { 
  margin:13px 0;
  font-weight:500;
  font-size:14px;
  color:#262626;
  text-align:center
}

.data .choose-income,.data .choose-percent,.data  .choose-sum,.data  .expenses-item,.data  .optionalexpenses-item {
  height:35px;
  width:calc((100%/2) - 4px);
  border-radius:2.5px;
  background-color:#fff;
  box-shadow:0 2.5px 10px 0 rgba(1,0,42,.1);
  border:none;
  padding-left:10px;
  margin-bottom:10px;
  font-size:14px;
  color:#a7a7a7
}

.data .choose-income::-webkit-input-placeholder,.data .choose-percent::-webkit-input-placeholder,.data .choose-sum::-webkit-input-placeholder,.data .expenses-item::-webkit-input-placeholder,.data .optionalexpenses-item::-webkit-input-placeholder {
  opacity:.3
}

.data .choose-income:-ms-input-placeholder,.data .choose-percent:-ms-input-placeholder,.data .choose-sum:-ms-input-placeholder,.data .expenses-item:-ms-input-placeholder,.data .optionalexpenses-item:-ms-input-placeholder {
  opacity:.3
}

.data .choose-income::-ms-input-placeholder,.data .choose-percent::-ms-input-placeholder,.data .choose-sum::-ms-input-placeholder,.data .expenses-item::-ms-input-placeholder,.data .optionalexpenses-item::-ms-input-placeholder {
  opacity:.3
}

.data .choose-income::placeholder,.data .choose-percent::placeholder,.data .choose-sum::placeholder,.data .expenses-item::placeholder,.data .optionalexpenses-item::placeholder {
  opacity:.3
}

.data .count-budget-btn,.data .expenses-item-btn,.data .optionalexpenses-btn {
  width:70px;
  height:30px;
  display:block;
  margin:0 auto;
  border:none;
  border-radius:2.5px;
  background-image:linear-gradient(336deg,#ffbd75,#ff964b),linear-gradient(#fff,#fff);
  box-shadow:0 2.5px 10px 0 rgba(1,0,42,.1);
  color:#fff;
  font-weight:100;
  font-size:12px;
  cursor:pointer
}

.data .optionalexpenses-item { 
  width:calc((100%/3) - 4px)
}

.data .count-budget-btn {
  width:120px
}

.data .choose-income {
  display:block;
  width:80%;
  margin:0 auto
}

.data .checksavings {
  margin:0 auto;
  margin-top:20px;
  text-align:center
}

.data .checksavings input {
  width:30px
}

.data .choose-percent,.data .choose-sum {
  width:30%;
  margin:15px
}

.data .start {
  width:70px;
  height:30px;
  display:block;
  margin:0 auto;
  border:none;
  border-radius:2.5px;
  background-image:linear-gradient(336deg,#ffbd75,#ff964b),linear-gradient(#fff,#fff);
  box-shadow:0 2.5px 10px 0 rgba(1,0,42,.1);
  color:#fff;
  font-weight:100;
  font-size:12px;
  cursor:pointer;
  width:200px;
  height:45px;
  margin-top:30px;
  font-size:18px;
  font-weight:100
}

.result {
  width:50%
}

.result-table {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:90%;
  min-height:400px;
  margin:0 auto;
  margin-top:42px;
  padding:25px;
  background-color:#fff;
  box-shadow:0 1.5px 20px 0 rgba(1,0,42,.1)
}

.result-table .budget,.result-table .budget-value,.result-table .daybudget,.result-table .daybudget-value,.result-table .expenses,.result-table .expenses-value,.result-table .income,.result-table .income-value,.result-table .level,.result-table .level-value,.result-table .monthsavings,.result-table .monthsavings-value,.result-table .optionalexpenses,.result-table .optionalexpenses-value,.result-table .yearsavings,.result-table .yearsavings-value {
  width:48%;
  margin-top:10px;
  min-height:40px;
  padding:10px;
  font-weight:500;
}

.result-table .budget-value,.result-table .daybudget-value,.result-table .expenses-value,.result-table .income-value,.result-table .level-value,.result-table .monthsavings-value,.result-table .optionalexpenses-value,.result-table .yearsavings-value { 
  color:#61a654;
  word-break:break-word;
} 

.result .time-data {
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  margin-top:40px;
}

.result .time-data .day,.result .time-data .month,.result .time-data .year {
  font-size:16px;
  font-weight:500;
}

.result .time-data .day-value,.result .time-data .month-value,.result .time-data .year-value{
  height:35px;
  width:calc((100%/2) - 4px);
  border-radius:2.5px;
  background-color:#fff;
  box-shadow:0 2.5px 10px 0 rgba(1,0,42,.1);
  border:none;
  padding-left:10px;
  margin-bottom:10px;
  font-size:14px;
  color:#a7a7a7;
  width:80px;
  height:30px;
  margin-left:25px;
}